{% extends 'nav.html' %}
{% load static %}


{% block content %}
<button type="button" class="btn btn-info btn-lg" id="button">
    按钮
</button>

<button type="button" class="btn btn-info btn-lg" id="button2">
    i/o按钮
</button>
<div class="row clearfix">
    <span class="col-md-offset-0 column label label-primary" style="font-size:13px">CPU个数:{{form.cpu}}</span>
    <span class="col-md-offset-1 column label label-primary" style="font-size:13px">物理CPU个数:{{form.logical_cpu}}</span>
    <span class="col-md-offset-1 column label label-primary" style="font-size:13px">当前登录用户数量:{{form.len_user}}</span>
    <span class="col-md-offset-1 column label label-primary" style="font-size:13px">当前网卡数量:{{form.len_net}}</span>
    <span class="col-md-offset-1 column label label-primary" style="font-size:13px">开机时间:{{form.open_date}}</span>
</div>

{% endblock %}
