{% extends 'nav.html' %} {% load static %} {% block content %}
<button type="button" class="btn btn-info btn-lg" id="button">
    刷新
</button>
<button type="button" class="btn btn-info btn-lg" id="kill_button">
    关闭
</button>

<div class="row clearfix">
    <span class="col-md-offset-0 column label label-primary" style="font-size:13px">当前进程数量:{{psinfo_len}}</span>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <td>状态</td>
        <td>用户</td>
        <td>PID</td>
        <td>程序名称</td>
        <td>绝对地址</td>
    </tr>
    </thead>
    <tbody id="psinfo">
    {% for ps in psinfo %}
    <tr>
        <td>{{ps.status}}</td>
        <td>{{ps.username}}</td>
        <td>{{ps.pid}}</td>
        <td>{{ps.name}}</td>
        <td>{{ps.exe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
  $(function() {
    $("#button").click(function() {
      $.ajax({
        url: '/psinfo/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          json=eval('('+data+')');
          $("#psinfo").html('');
          for (var i=0;i<json.length-1;i++){
            $('#psinfo').append('<tr>'+'<td>'+json[i].status+'</td>'+'<td>'+json[i].username+'</td>'+'<td>'+json[i].pid+'</td>'+'<td>'+json[i].name+'</td>'+'<td>'+json[i].exe+'</td>'+'</tr>')
          }
        }
      })
    });
  })


  $(function(){
    $("#kill_button").click(function(event) {
      $.ajax({
        url: '/pskill/',
        type: 'GET',
        dataType: 'json',
        data: {pid: $(".focus td:eq(2)").text()},
        success:function(data){
          alert(data);
        },
      });
    });
  })

   $(document).ready(function () {
                $("#psinfo>tr").on("click", function () {
                    $(this).parent().find("tr.focus").toggleClass("focus");
                    $(this).toggleClass("focus");
                });
            });
</script>

{% endblock %}
