{% extends 'nav.html' %} {% load static %} {% block content %}
<button type="button" class="btn btn-info btn-lg" id="button">
    刷新
</button>
<button type="button" class="btn btn-info btn-lg" id="kill_button">
    关闭
</button>

<div class="row clearfix">
    <span class="col-md-offset-0 column label label-primary" style="font-size:13px">当前进程数量:{{psinfo_len}}</span>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <td>状态</td>
        <td>用户</td>
        <td>PID</td>
        <td>程序名称</td>
        <td>绝对地址</td>
    </tr>
    </thead>
    <tbody id="psinfo">
    {% for ps in psinfo %}
    <tr>
        <td>{{ps.status}}</td>
        <td>{{ps.username}}</td>
        <td>{{ps.pid}}</td>
        <td>{{ps.name}}</td>
        <td>{{ps.exe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="text-align:center">
					进程描述
				</h4>
			</div>
			<div class="modal-body">
                <table id="modal-body-table" class="table">
                </table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">
  $(function() {
    $("#button").click(function() {
      $.ajax({
        url: '/psinfo/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          json=eval('('+data+')');
          $("#psinfo").html('');
          for (var i=0;i<json.length-1;i++){
            $('#psinfo').append('<tr>'+'<td>'+json[i].status+'</td>'+'<td>'+json[i].username+'</td>'+'<td>'+json[i].pid+'</td>'+'<td>'+json[i].name+'</td>'+'<td>'+json[i].exe+'</td>'+'</tr>')
          }
        }
      })
    });
  })


  $(function(){
    $("#kill_button").click(function(event) {
      $.ajax({
        url: '/pskill/',
        type: 'GET',
        dataType: 'json',
        data: {pid: $(".focus td:eq(2)").text()},
        success:function(data){
          alert(data);
        },
      });
    });
  })

   $(document).ready(function () {
                $("#psinfo>tr").on("click", function () {
                    $(this).parent().find("tr.focus").toggleClass("focus");
                    $(this).toggleClass("focus");
                });
            });

   $('td').on('dblclick',function(){
        $.ajax({
        url: '/psinfo/',
        type: 'GET',
        dataType: 'json',
        data: {pid: $(".focus td:eq(2)").text()},
        success:function(data){
        data=JSON.parse(data)
        $("#modal-body-table").html('');
        var data_list=['用户','终端','进程名','进程的bin路径','进程的工作目录绝对路径','进程状态','进程创建时间','进程uid信息','进程的gid信息','进程的cpu时间信息','进程内存利用率','程内存rss,vms信息','进程的IO信息,包括读写IO数字及参数','进程开启的线程数','返回进程列表']
        var data_args=['username','terminal','name','exe','cwd','status','create_time','uids','gids','cpu_times','memory_percent','memory_info','io_counters','num_threads','connectios']
        for (var i=0;i<data_list.length-1;i++){
          $('#modal-body-table').append(
                '<tr>'+'<td>'+data_list[i]+'</td>'+'<td>'+data[data_args[i]]+'</td>'+'</tr>'
            )}
        },
      });
$('#myModal').modal('show');
  });

$('.focus').popover('show');
$('.focus').popover('hide');
$('.focus').popover('destroy')
</script>


{% endblock %}
